@import 'fonts';

$white: #fff;
$bgColor: #fff;
$black: #000;
$gray: #e4e4e4;
$firstColor: #0097ba;
$secondColor: #151515;
$alphaForHeader: 0.5;
$title: h;
$thirdColor: #4f4f4f;
$headerFirstColor: #4a4a4a;
$headerfirstColor: #dd748a;
$headerThirdColor: #0097ba;

@mixin transition($duration: .5s, $function: linear, $properties: all){
  transition: $properties $duration $function;
}

*{
  box-sizing: border-box;
  border-collapse: collapse;
  &::selection{
    background-color: $firstColor;
  }
}

body{
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: $bgColor;
  font-weight: lighter;
  color: $black;
  line-height: 2em;
  width: 100%;
  overflow-x: hidden;
}

a{
  color: currentColor;
}

article{
  padding: 40px 50px;
  text-align: justify;
  @media(max-width: 500px){
    padding: 40px 10px;
  }
}

svg{
  fill: currentcolor;
  width: 100px;
}


@for $i from 1 through 6{
  #{$title}#{$i}{
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    padding: 20px 0;
    margin: 0;
    line-height: 2em;
  }
}

.fill-color--first{
  color: $firstColor;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  @include transition(.3s);
  width: 200px;
  min-height: 50px;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: normal;
}

.button--full{
  border: 2px solid currentcolor;
  border-radius: 5px;
  color: currentcolor;
}

.button--underline{
  color: $thirdColor;
  background-color: $white;
  border-bottom: 2px solid currentcolor;
  &:hover,&:focus{
    background-color: $gray;
    color: $black;
  }
}

.button--rosen{
  color: $headerfirstColor;
  &:hover,&:focus{
    background-color: $headerfirstColor;
    border-color: $headerfirstColor;
    color: $white;
  }
}

.button--arrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-930px{
  @media(max-width: 930px){
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ajax-alert-popup{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
  display: none;
  background-color: rgba(0,0,0,0.5);
}

.ajax-alert-popup--open{
  display: flex;
}

.window{
  contain: paint;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border-radius: 2px;
  padding: 15px 25px;
  width: 400px;
  height: 200px;
  margin: auto;
  text-align: center;
}

.window__button-close{
  @include transition(.3s, ease-in-out);
  width: 30%;
  max-width: 300px;
  height: 50px;
  font-size: 16px;
  background-color: $white;
  border-color: $secondColor;
  cursor: pointer;
  &:hover,&:focus{
    background-color: $secondColor;
    color: $white;
  }
}

.window--done{
  background-color: $firstColor;
}

.window--error{
  background-color: $firstColor;
}

.window__text{
  font-size: 18px;
}

.window__text--done{
  display: none;
}

.window__text--error{
  display: none;
}

.header{
  height: 350px;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  position: relative;
}

.header__mask{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(100deg, rgba(74,74,74,$alphaForHeader) 33.3%, rgba(221,116,138,$alphaForHeader) 33.4%, rgba(221,116,138,$alphaForHeader) 66.6%, rgba(0,151,186,$alphaForHeader) 66.7%, rgba(0,151,186,$alphaForHeader) 100%);
  position: relative;
  z-index: 5;
}

.header__image{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__title{
  @include transition(1s);
  position: absolute;
  top: 35%;
  transform: translateX(200%);
  font-size: 40px;
  width: 100%;
  z-index: 20;
  opacity: 0;
}

.header__title--back{
  transform: translateX(-200%);
}

.header__title--active{
  transform: translateX(0);
  z-index: 20;
  opacity: 1;
}

.header__title--slice{
  transform: translateX(0);
  opacity: 1;
  position: absolute;
  padding: 0;
  margin: 0;
  top: auto;
  bottom: -34px;
  z-index: 20;
  font-size: 5em;
  line-height: 1.5em;
  color: $white;
}

.slider{
  width: 100%;
}

.slider__slide{
  @include transition(1s);
  transform: translateX(200%);
  z-index: -100;
}

.slider__slide--back{
  transform: translateX(0);
  z-index: -100;
}

.slider__slide--active{
  transform: translateX(0);
  z-index: -99;
}

.slider__slide--2{
  object-position: 0 20%;
}

.slider__slide--3{
  object-position: 0 0;
}

.slider__slide--4{
  object-position: 0 0;
}

.slider__arrow{
  @include transition();
  position: absolute;
  top: 50%;
  font-size: 80px;
  cursor: pointer;
  z-index: 50;
  overflow: hidden;
}

.slider__arrow-icon{
  width: 30px;
}

.slider__arrow--left{
  left: 20px;
  transform: rotate(90deg);
  &:hover,&:focus{
    transform: rotate(90deg) scale(1.1);
  }
}

.slider__arrow--right{
  right: 20px;
  transform: rotate(-90deg);
  &:hover,&:focus{
    transform: rotate(-90deg) scale(1.1);
  }
}

.header--index{
  height: 600px;
  background-position: 0 30%;
}

.header--services{
  background-image: url('/img/services.jpg');
  background-position: 0 80%;
}

.header--portfolio{
  background-image: url('/img/portfolio.jpg');
  background-position: 0 85%;
}

.header--vacancies{
  background-image: url('/img/vacancies.jpg');
  background-position: 0 150%;
}

.header--blog{
  background-image: url('/img/blog.jpg');
  background-position: 0 80%;
}

.header--contacts{
  background-image: url('/img/contacts.jpg');
  background-position: 0 75%;
}

.header--tools{
  background-image: url('/img/tools.jpg');
  background-position: 0 75%;
}

.header--domotoplenya{
  background-image: url('/img/clients/cis/cis_full.png');
  background-position: 0 50%;
}

.header--gazel-traffic{
  background-image: url('/img/clients/gazel-traffic/gazel-traffic_full.jpg');
  background-position: 0 60%;
}

.header--sportlifting{
  background-image: url('/img/clients/sportlifting/sportlifting_full.jpg');
  background-position: 50% 0;
}

.header--justspaceshoot{
  background-image: url('/img/clients/justspaceshoot/justspaceshoot_full.png');
  background-position: 0 90%;
}

.arrow{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 50;
}

.arrow__icon{
  @include transition();
  color: currentcolor;
  width: 100px;
  cursor: pointer;
  &:hover,&:focus{
    transform: scale(1.1);
  }
}

.navigation{
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 50px;
  width: 200px;
  background-color: $firstColor;
  height: 50px;
  z-index: 102;
}

.navigation__logo{
  color: currentcolor;
  float: left;
  display: block;
  height: 100%;
  width: 150px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

.navigation__section{
  color: currentcolor;
  background-color: $firstColor;
  position: fixed;
  left: 200px;
  top: 50px;
  height: 50px;
  font-size: 18px;
  padding: 10px 10px;
  &:before{
    content: '';
    font-size: 24px;
    border-left: 1px solid $white;
    position: relative;
    left: -11px;
    top: 0;
  }
}

.hamburger{
  cursor: pointer;
  position: relative;
  background-color: transparent;
  color: currentColor;
  float: left;
  width: 50px;
  height: 50px;
}

.hamburger__line{
  @include transition(.5s, ease-in-out);
  display: inline-block;
  position: absolute;
  background-color: currentcolor;
  height: 3px;
  left: 10px;
  width: 30px;
  border-radius: 3px;
  &:nth-child(1){
    top: 13px;
  }
  &:nth-child(2){
    top: 23.5px;
  }
  &:nth-child(3){
    top: 34px;
  }
}

.hamburger__line--open{
  &:nth-child(1){
    top: 23px;
    transform: rotate(45deg);
  }
  &:nth-child(2){
    transform: rotateY(-90deg);
  }
  &:nth-child(3){
    top: 23px;
    transform: rotate(-45deg);
  }
}

.sidebar{
  @include transition(.5s, ease-in-out);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  overflow-x: hidden;
  background-color: transparent;
  color: $firstColor;
}

.sidebar--open{
  background-color: $bgColor;
  height: 100%;
  z-index: 101;
}

.sidebar__navigation{
  display: block;
  margin-top: 140px;
}

.sidebar__link{
  display: inline-block;
  color: currentcolor;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 50px;
  position: relative;
  &:after{
    @include transition(.5s, ease-in-out);
    content: '';
    background-color: currentcolor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
  }
}

.sidebar__link--hover {
  outline: none;
  &:after{
    content: '';
    background-color: currentcolor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }
}

.main{
  padding: 0;
  margin: 0;
}

.about{
 line-height: 25px;
}

.about__text{
  padding: 10px 0 40px;
}

.categories{
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: $firstColor;
  @media(max-width: 700px){
    flex-direction: column;
  }
}

.categories__element{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  @media(max-width: 700px){
    margin-bottom: 40px;
    width: 100%;
  }
}

.categories__element--creative{
  color: $headerFirstColor;
}

.categories__element--technology{
  color: $headerfirstColor;
}

.categories__element--design{
  color: $headerThirdColor;
}

.categories__icon{
  color: currentcolor;
}

.list{
  width: 100%;
  color: currentcolor;
  font-weight: 300;
}

.list__element{
  display: block;
  text-align: center;
}

.main-blog{
  width: 100%;
  height: 600px;
  min-height: 600px;
  background: url('/img/main-blog.jpg');
  background-color: #2A282B;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  background-position: 0 100%;
  @media(max-width: 500px){
    height: 800px;
  }
}

.main-blog__wrapper{
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
}

.main-blog__promo{
  height: 100%;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media(max-width: 1010px){
    width: 100%;
  }
}

.main-blog__text{

}

.main-blog__icon{
  width: 20px;
  height: 20px;
  color: currentcolor;
}

.order{
  width: 100%;
  background-color: $firstColor;
  color: $white;
}

.order__form{
  width: 100%;
  display: flex;
  justify-content: center;
}

.order__table{
  width: 100%;
  max-width: 1000px;
  @media(max-width: 930px){
    text-align: center;
  }
}

.order__cell{
  width: 30%;
  min-width: 300px;
  height: 50px;
  vertical-align: top;
  padding-top: 5px;
  @media(max-width: 930px){
    display: none;
  }
}

.order__title{
  text-align: center;
}

.order__button{
  display: flex;
  justify-content: center;
  width: 45%;
  padding: 10px 0;
  margin: 0;
}

.order__label{
  font-size: 20px;
  display: inline-block;
  text-align: right;
  width: 100%;
  max-width: 300px;
  padding-top: 5px;
  padding-right: 20px;
}

.order__input{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  height: 35px;
  width: 100%;
  max-width: 460px;
  padding: 10px 15px;
  @media(max-width: 930px){
    margin: 5px 0;
  }
}

.order__textarea{
  padding: 0;
  margin: 6px 0 8px;
  border: none;
  outline: none;
  height: 150px;
  width: 100%;
  resize: none;
  max-width: 460px;
  padding: 10px 15px;
}

.order__button{
  width: 48%;
  max-width: 220px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  height: 40px;
  background-color: $secondColor;
  color: $white;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

.order__button--file{
  background-color: transparent;
  border: 2px solid currentcolor;
  position: absolute;
  left: 0;
  @media(max-width: 550px){
    display: none;
  }
}

.order__file{
  display: none;
}

.order__button-icon{
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  left: -3px;
  fill: currentcolor;
}

.order__submit{
  float: right;
  @media(max-width: 550px){
    width: 100%;
    max-width: 460px;
  }
}

.buttons{
  position: relative;
  width: 100%;
  max-width: 460px;
}

.clients{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media(max-width: 700px){
    flex-direction: column;
  }
}

.clients__title{
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.client{
  width: 200px;
  height: 200px;
  background-color: $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 930px){
    width: 140px;
    height: 140px;
  }
  @media(max-width: 700px){
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
  }
}

.client__img{
  width: 70%;
}

.map{
  width: 100%;
}

#map{
  height: 500px;
}

.footer{
  background-color: $headerFirstColor;
  color: $white;
  position: relative;
  @media(max-width: 500px){
    font-size: 12px;
  }
}

.footer__contact{
  width: 100%;
  text-align: center;
}

.footer__element{
  width: 100%;
}

.footer__title{
  padding: 10px 0;
  @media(max-width: 500px){
    padding: 5px 0;
  }
}

.footer__link{
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5px;
  &:hover,&:focus{
    text-decoration: underline;
  }
}

.footer__social-link{
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  height: 0;
}

.footer__icon{
  width: 30px;
  height: 40px;
  cursor: pointer;
  @include transition(.3s);
  &:hover,&:focus{
    color: $firstColor;
  }
  @media(max-width: 500px){
    width: 20px;
    height: 30px;
  }
}

.footer__icon--vk{
  width: 40px;
  @media(max-width: 500px){
    width: 30px;
  }
}

.footer__copyright{
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-color: $secondColor;
}


// SERVICES.PHP

.services{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content:space-around;
  flex-wrap: wrap;
  background-color: $bgColor;
}

.services__title{
  flex-basis: 100%;
  text-align: center;
}

.services__text{
  flex-basis: 100%;
  margin-bottom: 40px;
}

.service{
  @include transition();
  background-color: $white;
  padding: 20px;
  width: 33%;
  max-width: 300px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &:hover,&:focus{
    background-color: $gray;
    .service__button{
      background-color: $white;
      color: $firstColor;
    }
    .service__svg{
      color: #fff;
      transform: scale(1.1);
    }
  }
  @media(max-width: 750px){
    width: 100%;
    max-width: 400px;
    &:not(:last-child){
      margin-bottom: 80px;
    }
  }
}

.service__svg{
  @include transition();
  position: absolute;
  top: 20px;
  color: #e4e4e4;
  width: 100px;
}

.service__title{
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: $black;
  box-sizing: content-box;
}

.service__button{
  @include transition();
  border: 1px solid $firstColor;
  background-color: $firstColor;
  font-weight: normal;
  color: $white;
  text-decoration: none;
  padding: 5px 40px;
  margin-top: 20px;
}


// PORTFOLIO.PHP

.portfolio{
  width: 100%;
  padding: 0;
  margin: 0;
}

.portfolio__title{

}

.portfolio__text{

}

.portfolio__line{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.portfolio__project{
  width: 33.3333%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__logo{
  position: absolute;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  padding: 0 20%;
  object-fit: contain;
  &:hover + .portfolio__mask{
    opacity: 1;
  }
}

.portfolio__mask{
  @include transition();
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  opacity: $alphaForHeader;
}

.portfolio__mask--hover{
  opacity: 1;
}

.portfolio__mask--1{
  background-color: rgb(74,74,74);
}

.portfolio__mask--2{
  background-color: rgb(221,116,138);
}

.portfolio__mask--3{
  background-color: rgb(0,151,186);
}

.portfolio__mask--4{
  background-color: rgb(123,42,139);
}

.portfolio__mask--5{
  background-color: rgb(0,235,190);
}

.portfolio__mask--6{
  background-color: rgb(245,166,35);
}

.portfolio__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


// BLOG.PHP

.article{
  width: 100%;
}

.article__title{

}

.article__cut{
  padding-bottom: 40px;
}

.article__icon{
  width: 20px;
  height: 20px;
  color: currentcolor;
}


// CONTACTS.PHP

.contacts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact{
  width: 50%;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  @media(max-width: 850px){
    width: 100%;
  }
  @media(max-width: 500px){
    font-size: 16px;
  }
}

.contact__link{
  text-decoration: none;
  &:hover,&:focus{
    text-decoration: underline;
  }
}

.contact__social-link{
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  height: 50px;
  @media(max-width: 850px){
    margin-top: 20px;
  }
  @media(max-width: 500px){
    height: 30px;
  }
}

.contact__icon{
  @include transition(.3s);
  width: 50px;
  height: 60px;
  cursor: pointer;
  &:hover,&:focus{
    color: $firstColor;
  }
  @media(max-width: 500px){
    width: 30px;
    height: 40px;
  }
}

.contact__icon--vk{
  width: 60px;
}


// TOOLS.PHP

.tools{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tool{
  @include transition();
  width: 30%;
  flex-basis: 30%;
  padding: 20px 10px;
  border: 1px solid $gray;
}

.tool__title{
  color: $black;
}

.tool__text{
  padding: 40px 20px;
  color: $black;
}


// SERVICES/MOBILE_DEVELOP.PHP

.folder-services-header__title{
  display: block;
  height: 100px;
  background-color: $firstColor;
  font-size: 3.8em;
}
