@import 'fonts.scss';
@import 'mixins.scss';
@import 'variables.scss';

*{
  box-sizing: border-box;
  border-collapse: collapse;
  &::selection{
    background-color: $firstColor;
  }
}

body{
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
  color: $white;
  line-height: 2em;
  width: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
  @media (-webkit-min-device-pixel-ratio: 2) {
    font-weight: 200;
  }
}

input, textarea{
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  background-color: $white;
}

.ajax-alert-popup{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
  display: none;
  background-color: rgba(0,0,0,0.8);
}

.ajax-alert-popup--open{
  display: flex;
}

.window{
  contain: paint;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border-radius: 2px;
  padding: 15px 25px;
  width: 400px;
  height: 200px;
  margin: auto;
  text-align: center;
}

.window__button-close{
  @include transition(.3s, ease-in-out);
  width: 30%;
  max-width: 300px;
  height: 50px;
  font-size: 16px;
  background-color: $white;
  border-color: $secondColor;
  cursor: pointer;
  &:hover,&:focus{
    background-color: $secondColor;
    color: $white;
  }
}

.window--done{
  background-color: $firstColor;
}

.window--error{
  background-color: $firstColor;
}

.window__text{
  font-size: 18px;
}

.window__text--done{
  display: none;
}

.window__text--error{
  display: none;
}

.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $firstColor;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__title{
  text-align: center;
  line-height: 60px;
  color: currentcolor;
  font-size: 40px;
  padding: 60px 100px;
  @media(max-width: 550px){
    font-size: 30px;
    padding: 20px;
  }
}

.content__link{
  color: currentcolor;
}

.promo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo__title{
  text-align: center;
  font-size: 40px;
}

.promo__form{
  width: 250px;
}

.promo__email{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.promo__submit{
  width: 100%;
  height: 30px;
  cursor: pointer;
}
