@import 'mixins.scss';
@import 'variables.scss';

*{
  box-sizing: border-box;
  border-collapse: collapse;
}

body{
  margin: 0  0 0 220px;
}

form{
  input, textarea, select{
    background-color: $white;
    border: 2px solid $black;
    display: block;
    margin-bottom: 10px;
    height: 30px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none;
  }
  textarea{
    height: 100px;
  }
  input[type="submit"]{
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: $black;
      color: $white;
    }
  }
}

nav{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 15%;
  box-sizing: border-box;
  border-right: 2px solid $black;
  li{
    list-style: none;
    padding: 0;
    margin: 10px 0 0 20px;
    a{
      text-decoration: none;
      color: $black;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.authorization{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table{
  display: inline-block;
  width: 100%;
  position: relative;
  tr{
    &:first-child{
      font-weight: 800;
    }
    td{
      padding: 5px 10px;
      border: 1px solid $black;
      position: relative;
    }
  }
}

.table__header{
  text-align: left;
  cursor: pointer;
}

.ajax-alert-popup{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
  display: none;
  background-color: rgba(0,0,0,0.8);
}

.ajax-alert-popup--open{
  display: flex;
}

.window{
  contain: paint;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border-radius: 2px;
  padding: 15px 25px;
  width: 400px;
  height: 200px;
  margin: auto;
  text-align: center;
  color: $white;
}

.window__button-close{
  @include transition(.3s, ease-in-out);
  width: 30%;
  max-width: 300px;
  height: 50px;
  font-size: 16px;
  background-color: $white;
  border-color: $black;
  cursor: pointer;
  &:hover,&:focus{
    background-color: $black;
    color: $white;
  }
}

.window--done{
  background-color: $black;
}

.window--error{
  background-color: $black;
}

.window__text{
  font-size: 18px;
}

.window__text--done{
  display: none;
}

.window__text--error{
  display: none;
}

.sort-arrow{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.sort-arrow--top{
  width: 5px;
  height: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $black;
}

.sort-arrow--bottom{
  width: 5px;
  height: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $black;
}

.forms{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
