body {
  margin: 0  0 0 220px; }

form input, form textarea, form select {
  background-color: #fff;
  border: 2px solid #000;
  display: block;
  margin-bottom: 10px;
  height: 30px;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

form textarea {
  height: 100px; }

form input[type="submit"] {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  form input[type="submit"]:hover {
    background-color: #000;
    color: #fff; }

nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 15%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 2px solid #000; }
  nav li {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 20px; }
    nav li a {
      text-decoration: none;
      color: #000; }
      nav li a:hover {
        text-decoration: underline; }

.authorization {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.table {
  display: inline-block;
  width: 100%; }
  .table tr:first-child {
    font-weight: 800; }
  .table tr td {
    padding: 5px 10px; }

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); }
  .popup .done {
    display: none; }
  .popup .error {
    display: none; }
  .popup .window {
    background-color: #fff;
    position: absolute;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    padding: 15px 25px;
    top: 40%;
    left: 33%;
    width: 400px;
    height: 200px;
    text-align: center; }
    .popup .window p {
      font-size: 28px; }
    .popup .window input[type="button"] {
      width: 30%;
      max-width: 300px;
      height: 50px;
      font-size: 18px;
      background-color: #fff;
      border-color: #000;
      color: #000;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .popup .window input[type="button"]:hover {
        background-color: #000;
        color: #fff; }
